:root {
    --color-light: #E0E0E0;
    --color-middle: #F05454;
    --color-dark: #30475E;
    --color-darkest: #222831;
    
    --hex-shift-x: 40px;
    --hex-shift-y: 10px;
    --layer-animation-time: .3s;
}

@media only screen and (min-width: 1000px) {
    :root {
        --w-tot: 900px;
    }
}

.app-container {
    position: relative;
}

.layout-hexagon-container {
    position: relative;
    /* width: 1000px; */
    margin-top: 15px;
    margin-left: 300px;
}

html {
    background-color: var(--color-darkest);
}

.theme-1 .background-color-1{
    background-color: var(--color-light);
   }

.theme-2  .background-color-1 {
    background-color: var(--color-middle);
   }

.theme-3 .background-color-1 {
 background-color: var(--color-dark);
}

.theme-1, .theme-2 {
    color: var(--color-darkest);
}

.theme-3 {
    color: var(--color-light);
}



/*
light
92AFD7

dark
262A56

*/



/*--- HEXAGONS ---*/
.html-hexagon-container{
    transition: transform var(--layer-animation-time), z-index var(--layer-animation-time);
}

.html-hexagon-layer-1{
    z-index: 13;
}

.html-hexagon-layer-2{
    animation-name: none;
    transform: translateX(var(--hex-shift-x)) translateY(var(--hex-shift-y));
    z-index: 12;
}

.html-hexagon-layer-3{
    transform: translateX(calc(var(--hex-shift-x)*2)) translateY(calc(var(--hex-shift-y)*2));
    z-index: 11;
}